@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Oswald&family=Roboto&display=swap');
:root {
    --main-bg-color: Brown;
    --font1:'Baloo Bhaina 2', cursive;
    --font2:'Roboto', sans-serif;
    --font3:'Oswald', sans-serif;
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 70vw;
}

.m-auto {
    margin: auto;
}

.btn {}

.form-control {}

